.actions-section {
  margin: 1.5em;
}

.actions-section .cancel {
  display: none;
}

.actions-section .cancel-mini {
  position: absolute;
  top: .3em;
  right: .3em;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  background-color: #FFDBCB;
  color: #595D7B;
  border: 0;
  padding: 8px 16px;
}

.actions-section .cancel-mini:active {
  background-color: #F2D0C1;
  border-radius: 10px;
}

.actions-section .continue {
  width: 100%;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  background-color: #423C66;
  border-radius: 5px;
  color: #FFFFFF;
  padding: .9em 4em;
}

.actions-section .continue:hover {
  background-color: #645D93;
}

.actions-section .continue:active {
  background-color: #241E47;
}

@media all and (min-width: 361px) {
  .actions-section {
    display: flex;
    justify-content: space-between;
  }

  .actions-section .cancel {
    display: block;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    background-color: #FFFFFF;
    border-radius: 5px;
    color: #595D7B;
    padding: .9em 4em;
  }

  .actions-section .cancel:hover {
    background-color: rgba(178, 167, 244, 0.1);
  }

  .actions-section .cancel:active {
    background-color: rgba(178, 167, 244, 0.25);
  }

  .actions-section .cancel-mini {
    display: none;
  }

  .actions-section .continue {
    width: auto;
  }
}
