.container {
  margin: 1.4rem;
}

.cancel {
  display: none;
}

.cancel-mini {
  position: absolute;
  top: 0;
  right: .4rem;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  background-color: transparent;
  color: #595D7B;
  border: 0;
  border-radius: 8px;
  padding: 0 .5rem .08rem .5rem;
}

.cancel-mini:hover {
  background-color: #f5ddd2;
}

.cancel-mini:active {
  background-color: #F2D0C1;
}

@media (color-gamut: p3) {
  .cancel-mini:hover {
    background-color: color(display-p3 0.983 0.86 0.923);
  }

  .cancel-mini:active {
    background-color: color(display-p3 0.983 0.84 0.923);
  }
}

.continue {
  width: 100%;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  background-color: #423C66;
  border-radius: 5px;
  border-color: #c5c5c5;
  color: #FFFFFF;
  padding: .9em 3em;
}

.continue:hover {
  background-color: #645D93;
}

.continue:active {
  background-color: #241E47;
}

@media all and (min-width: 361px) {
  .container {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
  }

  .cancel {
    display: block;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    background-color: #FFFFFF;
    border-radius: 5px;
    border-color: #c5c5c5;
    color: #595D7B;
    padding: .9em 3em;
  }

  .cancel:hover {
    background-color: rgba(178, 167, 244, 0.1);
  }

  .cancel:active {
    background-color: rgba(178, 167, 244, 0.25);
  }

  .cancel-mini {
    display: none;
  }

  .continue {
    width: auto;
  }
}
