:global header {
  display: none;
}

@media all and (min-width: 361px) {
  :global header {
    display: block;
    height: 80px;
    padding: 1.2em;
  }

  :global header > svg {
    margin-right: .5em;
  }

  :global header svg {
    fill: #423C66;
  }
}
