header {
  display: none;
}

@media all and (min-width: 361px) {
  header {
    display: block;
    height: 80px;
    padding: 1.2em;
  }

  header > svg {
    margin-right: .5em;
  }

  header svg {
    fill: #423C66;
  }
}
