.container {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 1em;
  padding: 0;
  border: 0;
}

.controller {
  height: 3.15em;
  margin-top: 0.4em;
  border: 1px solid #E9EEF2;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controller > div:first-of-type {
  margin-left: .3em;
}

.controller > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controller > div:last-of-type {
  margin-right: .3em;
}

.change-month {
  background-color: white;
  padding: .4em;
  border: 0;
}

.change-month:hover {
  background-color: #F3F5FE;
}

.change-month:active {
  background-color: #E8EAF2;
}

.decrease {
  composes: change-month;
}

.decrease::before {
  content: "<";
}

.increase {
  composes: change-month;
}

.increase::before {
  content: ">";
}

@media all and (min-width: 361px) {
  .container {
    width: 48%;
    margin-top: 0;
  }
}
